<h1>Binvenue dans courtsik :)</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div class="passe">
    <section class="login">
        <div>
            <header>
                <h2>Id</h2>
            <header>

            <form action="" method="post">

                <input type="text" name="username" required="required"/>
                <input type="password" name="password" required="required"/>
                <button type="submit" href="home.html.haml">conex</button>

            </form>
        </div>
    </section>
</div>
