// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#page {
    
    background-color: rgb(109, 101, 101);
}
h1 {
    text-align: center;

    color: blue;
}
div {
    background-color: chartreuse;
    text-align: center;
}